In [1]:
# Importing dependencies

import numpy as np
np.random.seed(1)
import tensorflow
tensorflow.random.set_seed(2)
import pandas as pd
import matplotlib.pyplot as plt
from keras.models import Sequential, load_model
from keras.layers.core import Dense
from keras.layers.recurrent import LSTM
from keras import optimizers
from keras.callbacks import EarlyStopping
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, r2_score
from math import sqrt
import datetime as dt
import time
plt.style.use('ggplot')

In [5]:

from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [10]:
ds=pd.read_csv('/content/drive/MyDrive/2019 Winter Data Science Intern Challenge Data Set - Sheet1.csv')
df=pd.DataFrame(ds)
print(df)

      order_id  shop_id  ...  payment_method           created_at
0            1       53  ...            cash  2017-03-13 12:36:56
1            2       92  ...            cash  2017-03-03 17:38:52
2            3       44  ...            cash   2017-03-14 4:23:56
3            4       18  ...     credit_card  2017-03-26 12:43:37
4            5       18  ...     credit_card   2017-03-01 4:35:11
...        ...      ...  ...             ...                  ...
4995      4996       73  ...           debit  2017-03-30 13:47:17
4996      4997       48  ...            cash  2017-03-16 20:36:16
4997      4998       56  ...            cash   2017-03-19 5:42:42
4998      4999       60  ...     credit_card  2017-03-16 14:51:18
4999      5000       44  ...           debit  2017-03-18 15:48:18

[5000 rows x 7 columns]

In [11]:
df.head()

   order_id  shop_id  user_id  ...  total_items  payment_method           created_at
0         1       53      746  ...            2            cash  2017-03-13 12:36:56
1         2       92      925  ...            1            cash  2017-03-03 17:38:52
2         3       44      861  ...            1            cash   2017-03-14 4:23:56
3         4       18      935  ...            1     credit_card  2017-03-26 12:43:37
4         5       18      883  ...            1     credit_card   2017-03-01 4:35:11

[5 rows x 7 columns]

In [12]:
df['order_amount'].sum()

15725640

In [14]:
df['total_items'].sum()

43936

In [15]:
aov=df['order_amount'].sum()/df['total_items'].sum()

In [16]:
aov

357.92152221412965